<html>
<head>
    <title>My page</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        .cls1{margin-top:-20px;color:darkcyan; }
        .h12{color: darkorange;text-shadow: slategray;font-family: "Bodoni MT"}
    </style>
</head>
<body style="background-color: seagreen">
<div class="container">
    <div class="row">
        <div class="offset-md-5 col-md-6">
            <h2 class="h12">Please enter your details...</h2>
        <form method="POST">
            {%csrf_token %}
            <label class="cls1">Enter your Name:</label>
            <input type="text" name="cname" class="form-control" style="background-color:slategray"  placeholder="Your name is:" ><br>
            <label class="cls1">Enter your sales</label>
            <input type="number" name="num" class="form-control" style="background-color:chocolate" placeholder="your sales is:"><br>
            <label class="cls1">Enetr your mobile</label>
            <input type="number" name="mobile" class="form-control" style="background-color:slategray"  placeholder="Your mobile is:"><br>
            <label class="cls1">Enetr your Email</label>
            <input type="email" name="email" class="form-control" style="background-color:chocolate" placeholder="your Email is:"><br>
            <center>
                <input type="submit" value="Submit" class="btn btn-success">
                <input type="Reset" value="Clear" class="btn btn-danger">
            </center>
        </form>
        </div>
    </div>
</div>
</body>
</html>