<html>
<head>
    <title>Index Page</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<style>
    a {
        margin-left: 90px;
        border-radius: 5px;
        border: 2px black solid;
        background-color:chartreuse;
    }

    .jumbotron{
        margin: 50px 50px 10px 50px;
        background-color: darkcyan;
    }

    h2{
        margin-top: -40px;
        font-size: 40px;
        font-family: cursive;
        text-align: center;
    }
</style>

<body>
<div class="jumbotron">
    <h2>CURD Operations</h2>
    <a href="/create/">Create</a>
    <a href="/update/">Update</a>
    <a href="/retrieve/">Retrieve</a>
    <a href="/delete/">Delete</a>
</div>
</body>
</html>