{#<html>#}
{#<head>#}
{#    <title>New registration page.</title>#}
{#    <meta charset="utf-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>#}
{#    <style>#}
{#        .cls1{margin-top:-20px;color:darkcyan;}#}
{#        .h12{color: darkorange;text-shadow: slategray;font-family: "Bodoni MT"}#}
{##}
{#    </style>#}
{#</head>#}
{#<body>#}
{#<div class="container">#}
{#    <div class="row">#}
{#        <div class="offset-md-4 col-md-6">#}
{#            <h2 class="h12">Please Provide your details.</h2>#}
{#            <form method="POST">#}
{#                 {% csrf_token %}#}
{#                <label class="cls1">Enter your First_name:</label>#}
{#                <input type="text" name="first_name" class="form-control" style="background-color:slategray"  placeholder="Your First_name is:" ><br>#}
{#                <label class="cls1">Enetr Your Last_Name</label>#}
{#                <input type="text" name="last_name" class="form-control"  style="background-color:slategray" placeholder="Your last_name is:"><br>#}
{#                <label class="cls1">Enetr Your UserName</label>#}
{#                <input type="text" name="UserName" class="form-control"  style="background-color:slategray" placeholder="Your UserName is:"><br>#}
{#                <label class="cls1">Enetr Your password</label>#}
{#                <input type="password" name="password" class="form-control"  style="background-color:slategray" placeholder="Your password is:"><br>#}
{#                <label class="cls1">Enetr Your email</label>#}
{#                <input type="email" name="email" class="form-control"  style="background-color:slategray" placeholder="Your email is:"><br>#}
{#                <label class="cls1">Enetr Your mobile</label>#}
{#                <input type='number' name="mobile" class="form-control"  style="background-color:slategray" placeholder="Your mobile is:"><br>#}
{#                <label class="cls1">Enetr Your location</label>#}
{#                <input type="text" name="location" class="form-control"  style="background-color:slategray" placeholder="Your location is:"><br>#}
{##}
{##}
{#                <center>#}
{#                <input type="button" value="Submit" class="btn btn-success">#}
{#                <input type="button" value="Clear" class="btn btn-danger">#}
{#                </center>#}
{##}
{#                Enetr First name:{{ mform.first_name }}<br>#}
{#                Enter Last email:&emsp;{{mform.last_name }}<br>#}
{#                Enetr Username&ensp;{{mform.Username  }}<br>#}
{#                Enter password{{ mform.password }}<br>#}
{#                Enter email{{ mform.email }}<br>#}
{#                Enter mobile{{ mform.mobile}}<br>#}
{#                Enter location{{mform.location }}<br>#}
{##}
{#                <input type="submit" value="Submit">#}
{#                <input type="Reset" value="Clear">#}
{##}
{#            </form>#}
{##}
{#        </div>#}
{##}
{#    </div>#}
{##}
{#</div>#}
{##}
{#  </body>#}
{##}
{##}
{##}
{##}
{##}
{##}
{#</html>#}
<html>
<head>
    <title>My modelform page</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="offset-md-4">
            <form method="POST">
                {% csrf_token %}
               Enetr First name:{{ mform.first_name }}<br>
               Enetr last name:{{ mform.last_name }}<br>
               Enetr USER name:{{ mform.UserName }}<br>
               Enetr PASSWORD:{{ mform.password }}<br>
               Enetr EMAIL:{{ mform.email }}<br>
               Enetr Mobile:{{ mform.mobile }}<br>
               Enetr location:{{ mform.location }}<br>
                <input type="submit" value="Submit">
                <input type="Reset" value="Clear">
            </form>

        </div>
    </div>
</div>
</body>
</html>